--extra-index-url https://download.pytorch.org/whl/cpu
torch
fastapi
uvicorn[standard]
transformers==4.41.2
scipy
numpy
yt-dlp
openai-whisper @ git+https://github.com/openai/whisper.git@dd985ac4b90cafeef8712f2998d62c59c3e62d22
librosa
soundfile
python-multipart
pydantic-settings 